html{
    height:100%;
}

body{
    font-family:"Roboto", Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    color:#222222;
    background:#fff;
    font-size:16px;
}

*{
    box-sizing:border-box;
}

.container{
    max-width: 99%;
    width:1300px;
    margin:0 auto;
    padding:10px;
}

.t-left{
    text-align:left;
}

.t-center{
    text-align:center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-item {
    flex: 0.001;
}

.flex-dc{
    flex-direction: column;
}

.flex-dr{
    flex-direction: row;
}

.flex-jcc{
    justify-content: center;
}