tbody td{
    padding:12px 10px;
    border-bottom:1px solid #c4c4c4;
    text-align: center;

    padding: 1.2rem 1rem;

    &.revealMore{
        justify-content: center;
        align-content: center;
        background: #eee;
        width:55px;
        line-height: 10px;
        cursor:pointer;

        img{
            height:16px;
        }

        &:hover{
            background:#cecece;
        }
    }
}

tbody tr{
    &.opened{
        background:linear-gradient(20deg,#2b68d8, #163a7c);
        color:#fff;
    }
}

tbody{
    &:before{
        content: "-";
        line-height: .5rem;
        opacity: 0;
        display: block;
    }
}

.pos-tooltip-button{

    cursor: pointer;

    &:hover .pos-tooltip-container{
        display: block;
    }
}