.matchResult{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#424242;
    padding-top:8px;
}

.result-teamName{
    text-decoration: none;
    font-weight: bold;
}

.result-badge{

    height:25px;
    margin:0 5px;

    img{
        max-width: 100%;
    }
}

.result-score{
    display:flex;
    align-items: center;
    padding:0 8px;
    color:#fff;
    background: #3672e0;
    height:25px;
    position: relative;
}

.result-seperator{
    height:60%;
    width:1px;
    background:#bebebe;
    margin:0 8px;
}