.matchResult{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#424242;
    padding-top:8px;

    &.rightArrow{
        width:100%;
        justify-content: flex-start;
        background: #eee;
        padding:10px;
        width:100%;

        &:hover{
            background: linear-gradient(20deg, #2b68d8, #163a7c);
            color: #fff;

            .result-score{
                background:white;
                color:#202020;
            }
        }
    }
}

.result-teamName{
    text-decoration: none;
    font-weight: bold;
}

.result-badge{

    height:25px;
    margin:0 5px;

    img{
        max-width: 100%;
    }
}

.result-score{
    display:flex;
    align-items: center;
    padding:0 8px;
    color:#fff;
    background: #3672e0;
    height:25px;
    position: relative;
    font-weight: bold;
}

.result-seperator{
    height:60%;
    width:1px;
    background:#bebebe;
    margin:0 8px;
}

.result-rightArrow{
    margin-left: auto;
    font-size: 20px;
    line-height: 1px;
    padding-left:50px;
}