.nextMatch{
    position: relative;
    margin:auto;
    width:32px;
    height:32px;
    padding:3px;
    border:1px solid #eee;
    border-radius: 50%;
    cursor: pointer;

    &:hover .nextMatch-tooltip{
        display: block;
    }
}

.nextMatch-image{
    width:100%;

    img{
        max-width: 100%;
    }
}

.nextMatch-date{
    color:#000;
}

.nextMatch-tooltip{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: #fff;
    width: max-content;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    bottom: 35px;
    right: -26px;
    padding: 12px 10px;
    font-size: 14px;

    &:before{
        content: "";
        position: absolute;
        right: 33px;
        bottom: -8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 9px 0 9px;
        border-color: #ffffff transparent transparent transparent;
    }

    
    &:hover{
        background:#3672e0;

        .nextMatch-date,.matchResult{
            color:#fff;
        }

        .result-score{
            background: #fff;
            color:#2c2c2c;
        }

        &:before{
            border-color: #3672e0 transparent transparent transparent;
        }
    }
}